<!--<div class="container" *ngFor="let estudiante of estudiantesList">
        <li *ngIf="estudiante.id">{{estudiante.id}}</li>
        <li *ngIf="estudiante.nombre">{{estudiante.nombre}}</li>
        <li *ngIf="estudiante.apellidos"> {{estudiante.apellidos}}</li>
        <button class="btn btn-primary" [routerLink]="['/editestudiante',estudiante.id]">Editar</button>
        <hr>
</div>-->
<div class="container">
        <div class="card">
                <div class="card-header">
                        <app-header></app-header>
                </div>
                <div class="card-body">
                        <table class="table" *ngIf="rol == 'a'">
                                <thead>
                                        <tr>
                                                <td>ID</td>
                                                <td>DOCUMENTO</td>
                                                <td>NOMBRE</td>
                                                <td>APELLIDOS</td>
                                                <td>CORREO</td>
                                                <td>ACCIONES</td>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let estudiante of estudiantesList">
                                                <td *ngIf="estudiante.id">{{estudiante.id}}</td>
                                                <td *ngIf="estudiante.documento"> {{estudiante.documento}}</td>
                                                <td *ngIf="estudiante.nombre">{{estudiante.nombre}}</td>
                                                <td *ngIf="estudiante.apellidos"> {{estudiante.apellidos}}</td>
                                                <td *ngIf="estudiante.correo"> {{estudiante.correo}}</td>
                                                <td>
                                                        <button class="btn btn-primary"
                                                                [routerLink]="['/editestudiante',estudiante.id]">Editar</button>
                                                        <button class="btn btn-danger"
                                                                (click)="deleteEstudiante(estudiante.id)">Eliminar</button>
                                                        <button class="btn btn-warning"  [routerLink]="['/mostrarMaterias',estudiante.id]">Materias Inscritas</button>
                                                        <button class="btn btn-success"  [routerLink]="['/registrarMateria',estudiante.id]">Registrar Materia</button>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
</div>