<div class="container" *ngIf="estudiante">
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Editar Estudiante</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="firstName">Id:</label>
          <input formControlName="id" [(ngModel)]="estudiante.id" placeholder="id" name="id" class="form-control"
            id="id" required readonly>
        </div>
        <div class="form-group">
          <label for="firstName">Nombre:</label>
          <input formControlName="nombre" [(ngModel)]="estudiante.nombre" placeholder="Nombre" name="nombre"
            class="form-control" id="nombre" required>
        </div>

        <div class="form-group">
          <label for="lastName">Apellido:</label>
          <input formControlName="apellidos" [(ngModel)]="estudiante.apellidos" placeholder="Apellidos" name="apellidos"
            class="form-control" id="apellidos" required>
        </div>
        <div class="form-group">
          <label for="phone">Telefono:</label>
          <input formControlName="telefono" [(ngModel)]="estudiante.telefono" placeholder="Telefono" name="telefono"
            class="form-control" id="telefono" required>
        </div>
        <div class="form-group">
          <label for="tipoUsuario">Tipo Usuario:</label>
          <input formControlName="tipoUsuario" [(ngModel)]="estudiante.tipoUsuario" name="tipoUsuario"
            class="form-control" id="tipoUsuario" readonly>
        </div>
        <div class="form-group">
          <label for="document">Documento:</label>
          <input formControlName="documento" [(ngModel)]="estudiante.documento" name="documento"
            class="form-control" id="documento" readonly>
        </div>
        <div class="form-group">
          <label for="email">Correo:</label>
          <input formControlName="correo" [(ngModel)]="estudiante.correo" name="correo"
            class="form-control" id="correo" required>
        </div>
        <div class="container">
          <div class="col-md-12 text-center">
            <button class="btn btn-success">Editar</button>
            <button class="btn btn-primary" routerLink="/" style="margin-left: 5%;">Regresar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>